

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: white;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  /* padding: 0.5rem 0; */
  z-index: 999;
}

.home-logo{
  width: 166px;
  height: 100%;
  cursor: pointer;
}

.nav-btn a{
  color: inherit;
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
 list-style: none;
 margin: 1rem !important; 
 font-weight: 600;
}

/* nav ul li a:not(.active):hover {
  background-color:#172554 ;
} */

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 1.8rem;
  height: 1.6rem;
}

nav .menu span {
  height: 0.25rem;
  width: 100%;
  background-color: #E52B50;
  border-radius: 0.2rem;
}

nav ul li a {
  margin: 0.2rem 0.5rem;
  color: black !important;
}

.contact-btn a{
  text-transform: uppercase;
  color: white !important;
}

.nav-active a{
  color: #E52B50 !important;
}


@media (max-width: 480px) {
  nav{
    padding: 0;
  }

  nav .menu {
      display: flex;
      top: 1.5rem;
      right: 1rem;
  }

  .home-logo{
    width: 136px;
    height: 100%;
    cursor: pointer;
  }

  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  nav ul.open {
      display: flex;
  }

  nav ul li {
      width: 100%;
      text-align: center;
  }

  nav ul li a {
      margin: 0.2rem 0.5rem;
  }
}